<!DOCTYPE html>
<html lang="en">
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
       <table style="width: 100%;">
        {% for s in meno %}
        <tr style="height:200px;background-color:red;">
            <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:500px;background-color:darkorange;" >
         <h>{{s.matn}}</h>
        <td></td>
       </tr>
       <tr style="height:200px;background-color:red;">
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:500px;background-color:darkorange;" >
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:200px;background-color:red;" >
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:500px;background-color:darkorange;">
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:200px;background-color:red;">
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:500px;background-color:darkorange;">
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:200px;background-color:red;" >
        <h>{{s.onvan}}</h>
        <td></td>
       </tr>
       <tr style="height:500px;background-color:darkorange;">
        <h>{{s.onvan}}</h>
        <td></td>
       </tr></table>
       {%endfor%}
    </body>
    </html>
</body>
</html>